table {
    border-bottom: 1px solid #747c80;
    border-collapse: collapse;
    font-family: "Lato", sans-serif;
}
th {
    background-color: #747c80;
    color: #fff;
}
th,
td {
    border-left: 1px solid #747c80;
    border-right: 1px solid #747c80;
    padding: 4px 8px;
    vertical-align: middle;
}
tr:nth-of-type(even) {
    background-color: #f7ba86;
    color: #fff;
}
